.flow > :where(:not(:first-child)) {
	margin-top: var(--flow-spacer, var(--spacer));
}

.flow {
	padding-top: var(--flow-spacer-top);
}

.flow {
	padding-bottom: var(--flow-spacer-bottom);
}

// to compensate for line-height of text
.flow-nontitletext {
	padding-top: var(--flow-spacer-nontitletext);
}

.flow-flushtop {
	padding-top: 0;
}

.flow-flushbottom {
	padding-bottom: 0;
}