body {
	font-family: var(--ff-sans);
	font-size: var(--fs-300);
	/* Need to explicitly specify this because of the searchBox that slides in and out */
	/* Comment this out during development and debugging */
	overflow-x: hidden;
}
body.lockScroll {
	height: 100dvh;
	overflow: hidden;
}

header {
	font-family: var(--ff-serif);
}

h1,
h2,
h3,
h4 {
	font-family: var(--ff-serif);
}

h1 {
	font-size: var(--fs-800);
}

h2 {
	font-size: var(--fs-700);
}

h3 {
	font-size: var(--fs-600);
}

h4 {
	font-size: var(--fs-500);
}