$colours: (
	neutral: (
		100: 0 0% 100%,
		200: 0 0% 90%,
		250: 0 0% 80%,
		300: 0 0% 70%,
		400: 0 0% 60%,
		500: 0 0% 50%,
		600: 0 0% 40%,
		700: 0 0% 30%,
		800: 0 0% 10%,
		900: 0 0% 0%,
	),
	primary: (
		100: 214 100% 90%,
		200: 214 100% 80%,
		300: 214 100% 70%,
		400: 214 100% 60%,
		500: 214 100% 50%,
		600: 214 100% 40%,
		700: 214 100% 30%,
		800: 214 100% 20%,
		900: 214 100% 10%,
	),
	secondary: (
		100: 284 71% 90%,
		200: 284 71% 80%,
		300: 284 71% 70%,
		400: 284 71% 60%,
		500: 284 71% 50%,
		600: 284 71% 40%,
		700: 284 71% 30%,
		800: 284 71% 20%,
		900: 284 71% 10%,
	),
	accent: (
		100: 358 60% 90%,
		200: 358 60% 80%,
		300: 358 60% 70%,
		400: 358 60% 60%,
		500: 358 60% 50%,
		550: 358 65% 40%,
		575: 358 60% 42%,
		600: 358 60% 40%,
		700: 358 60% 30%,
		800: 358 60% 20%,
		900: 358 60% 10%,
	),
);

// mud-red: 358 60% 40%;
// accent-550: increase the saturation by 5% to get a slightly brighter shade while keep the earthy quality
// accent-575: when luminance is increased it gets too bright
