<div class="mobileToggleIcons">
    <img src="{{ '/img/close-icon.svg' | url }}" class="icon closeMobileBtn hide" alt="Close Icon">
    <img src="{{ '/img/hamburger-menu-icon.svg' | url }}" class="icon mobileToggle" alt="Mobile Menu Toggle Icon">
</div>