<div class="nav-deck">
    <ul class="nav-list">
        <li>
            <div class="nav-item">
                <span class="nav-item-name">
                    <a href="/">Home</a>
                </span>
            </div>
        </li>
        <li data-dropdown>
            <div class="nav-item" data-dropdown-link>
                <label class="nav-item-name item-chevron" for="item-2">Blog</label>
                {# <span class="nav-item-name"><a href="/">Blog</a><label class="item-chevron" for="item-2"></label></span> #}
                <input type="checkbox"
                    id="item-2"
                    name="item-2"
                    class="m-menu-checkbox" />
                <ul class="nav-sublist">
                    <li>
                        <a href="https://nytimes.com">Article 1</a>
                    </li>
                    <li>
                        <a href="https://cnn.com">Article 2</a>
                    </li>
                    <li data-dropdown-lvl2 >
                        <div class="nav-item-lvl2" data-dropdown-link>
                            <label class="nav-item-name-lvl2 item-chevron" for="item-2-1">
                                <a href="https://google.com">Article 3</a>
                            </label>
                            <input type="checkbox"
                                id="item-2-1"
                                name="item-2-1"
                                class="m-menu-checkbox" />
                            <ul class="nav-sublist-lvl2">
                                <li>
                                    <a href="/">Sub Article 3-1</a>
                                </li>
                                <li>
                                    <a href="/">Sub Article 3-2</a>
                                </li>
                            </ul>

                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <div class="nav-item">
                    <span class="nav-item-name">About</span>
                </div>
            </li>
            <li>
                <div class="nav-item">
                    <span class="nav-item-name">Contact</span>
                </div>
            </li>
            {# TODO: Unable to scroll the mobile menu to access these items #}
            {# <li>
                <div class="nav-item">
                    <span class="nav-item-name">Donate</span>
                </div>
            </li>

            <li>
                <div class="nav-item">
                    <span class="nav-item-name">Live</span>
                </div>
            </li> #}
        </ul>
        <ul class="nav-list">
            <li>
                <div class="nav-item">
                    <span class="nav-item-name">
                        <a href="/vanilla">Vanilla Slider</a>
                    </span>
                </div>
            </li>

            <li data-dropdown>
                <div class="nav-item" data-dropdown-link>
                    <label class="nav-item-name item-chevron" for="item-6">Projects</label>
                    <input type="checkbox"
                    id="item-6"
                    name="item-6"
                    class="m-menu-checkbox" />
                    <ul class="nav-sublist">
                        <li>
                            <a href="/">Covid Relief</a>
                        </li>
                        <li data-dropdown-lvl2 >
                            <div class="nav-item-lvl2" data-dropdown-link>
                                <label class="nav-item-name-lvl2 item-chevron" for="item-6-1">
                                    <a href="/">Forest Farming</a>
                                </label>
                                <input type="checkbox"
                                id="item-6-1"
                                name="item-6-1"
                                class="m-menu-checkbox" />
                                <ul class="nav-sublist-lvl2">
                                    <li>
                                        <a href="/">Soil Preparation</a>
                                    </li>
                                    <li>
                                        <a href="/">Irrigation</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>Collective Commons</li>
                    </ul>
                </div>
            </li>

            <li>
                <div class="nav-item">
                    <span class="nav-item-name">Media</span>
                </div>
            </li>

            <li>
                <div class="nav-item">
                    <span class="nav-item-name">Press</span>
                </div>
            </li>

            <li>
                <div class="nav-item">
                    <span class="nav-item-name">Blog</span>
                </div>
            </li>
        </ul>
    </div>