<div class="search">
    <span class="icons">
        <img src="{{ '/img/search-icon.svg' | url }}" class="icon searchBtn" alt="Search Icon">
        <img src="{{ '/img/close-icon.svg' | url }}" class="icon closeBtn" alt="Close Icon">
    </span>
</div>
<div class="searchBox">
    <input type="text" placeholder="Search here . . .">
</div>