@use '../abstracts/' as *;

.primary-header {
    // cannot use linear-gradient because transition does not work with this
    // --_bg: linear-gradient(
	// 	var(--bg-deg, -45deg),
	// 	hsl(var(--clr-primary-400)),
	// 	hsl(var(--clr-secondary-500)),
	// 	hsl(var(--clr-accent-500))
	// ); 

    --_bg: hsl(var(--clr-secondary-600));
	--_logo-color: hsl(var(--clr-neutral-300));
	--_nav-link-color: hsl(var(--clr-neutral-100));

	padding: 0.5rem 1rem;
	color: hsl(var(--clr-neutral-100));
	background-color: var(--_bg);

	height: fit-content;

	z-index: 5;
	position: sticky;
	top: 0;

    transition: background-color height 500ms ease-in-out;
}
.primary-header.showMobile {
	height: 100dvh;
}


.primary-header.sticking {
    // --_bg: linear-gradient(var(--bg-deg, -45deg),
    //             hsl(var(--clr-accent-500)),
    //             hsl(var(--clr-primary-600)),
    //             hsl(var(--clr-secondary-600)));
    --_bg: hsl(var(--clr-primary-600));
	--_nav-link-color: hsl(var(--clr-neutral-300));
	--_logo-color: hsl(var(--clr-accent-400));
}

.primary-header__inner {
	max-width: 100%;
	position: relative;
	display: flex;
	justify-content: space-between;
}