@use '../abstracts/' as *;

#banner-container .banner-image {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: #000;
}

.banner-image-credit {
    position: absolute;
    writing-mode: vertical-rl;
    font-size: var(--fs-100);
    font-family: var(--ff-sans);
    color: hsl(var(--clr-neutral-100));

    right: 2px;
    bottom: 33vh;

    @include mq(medium) {
        bottom: 20vh;
    }

    @include mq(large) {
        right: 15px;
        font-weight: var(--fw-light);
    }
}

.banner-image-credit::after {
    content: 'Photo Credit: ' attr(data-image-credit-mob);

    @include mq(medium) {
        content: 'Photo Credit: ' attr(data-image-credit-tab);
    }

    @include mq(large) {
        content: 'Photo Credit: ' attr(data-image-credit-desk);
    }
}

.banner-tagline {
    position: absolute;
    // left: 50%;
    // transform: translateX(-50%);
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    bottom: 13vh;

    padding: 0.5em 0.15em 0;

    font-size: var(--fs-400);
    font-family: var(--ff-serif);
    font-weight: var(--fw-light);
    color: hsl(var(--clr-neutral-100));
    text-align: center;

    @include mq(medium) {
        bottom: 8vh;
    }
}

.banner-tagline-credit {
    font-size: var(--fs-300);
}