@use '../abstracts/' as *;

.primary-header {
    // cannot use linear-gradient because transition does not work with this
    // --_bg: linear-gradient(
	// 	var(--bg-deg, -45deg),
	// 	hsl(var(--clr-primary-400)),
	// 	hsl(var(--clr-secondary-500)),
	// 	hsl(var(--clr-accent-500))
	// ); 

    --_bg: hsl(var(--clr-secondary-600));
	--_logo-color: hsl(var(--clr-neutral-300));
	--_nav-link-color: hsl(var(--clr-neutral-100));

	padding: 0.5rem 1rem;
	color: hsl(var(--clr-neutral-100));
	background-color: var(--_bg);

	height: fit-content;

	position: sticky;
	top: 0;

    transition: background-color 500ms;
}

.primary-header.sticking {
    // --_bg: linear-gradient(var(--bg-deg, -45deg),
    //             hsl(var(--clr-accent-500)),
    //             hsl(var(--clr-primary-600)),
    //             hsl(var(--clr-secondary-600)));
    --_bg: hsl(var(--clr-primary-600));
	--_logo-color: hsl(var(--clr-accent-400));
	--_nav-link-color: hsl(var(--clr-neutral-300));
}

.primary-header__inner {
	display: flex;
	justify-content: space-between;
}

.primary-header a {
	color: var(--_nav-link-color);
}

.primary-header a:hover,
.primary-header a:focus {
	opacity: 0.7;
}

.nav-list {
	list-style: none;
	margin: 0;
	padding: 0;

	display: flex;
	gap: clamp(0.5rem, 5vw, 2rem);
}

