---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---
<div class="banner-container">
  <div class="banner-image">
    {% image "https://res.cloudinary.com/nrityagram/image/upload/v1647179355/Space-cat2-desk_rix0hl.jpg", "Damayanti", ["425", "768", "1600"] %}
  </div>
</div>
<div class="container primary-bg">
  <div class="wrapper flow">
    <h3>Section 1</h3>
    <p>
		Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis consequuntur, iste voluptatem natus dolorem
		veritatis sapiente hic, rerum molestias dolore, delectus praesentium illum ea beatae? Expedita exercitationem
		deleniti voluptatibus obcaecati?
	</p>
    <p>
		Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis consequuntur, iste voluptatem natus dolorem
		veritatis sapiente hic, rerum molestias dolore, delectus praesentium illum ea beatae? Expedita exercitationem
		deleniti voluptatibus obcaecati?
	</p>
    <div class="flow-nontext">
      {% image "https://res.cloudinary.com/nrityagram/image/upload/v1643804553/community_card_qpjn0w.jpg",
      "Children's Dance Class",
      ["560", "auto"] %}
    </div>
    <div class="flow-nontext">
      {% image "https://res.cloudinary.com/nrityagram/image/upload/v1643974833/Rasa_Card_Diksha_getq7i.jpg",
      "NG Forest",
      ["560", "auto"] %}
    </div>
  </div>
</div>
<div class="container accent-bg">
  <div class="wrapper flow">
    <h3 class="text-neutral-100">Section 2</h3>
    <p class="text-neutral-100">
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur officia a, unde sed soluta mollitia assumenda in
		vel earum explicabo sunt, odio cupiditate asperiores debitis iste voluptatum doloremque exercitationem magnam. Lorem
		ipsum dolor sit amet consectetur adipisicing elit. Fugiat voluptatem, ad voluptates sint est aliquam repellendus
		autem magnam distinctio quod. Nam, natus. Illo optio inventore eveniet, voluptatum quasi perferendis minus?
	</p>
  </div>
</div>
<div class="container">
  <div class="wrapper flow">
    <div class="flow-nontext">
      {% image "https://res.cloudinary.com/nrityagram/image/upload/v1620734207/school-card_m5avwv.jpg",
      "NG Utsarga",
      ["560", "auto"] %}
    </div>
    <h3>Section 3</h3>
    <p>
		Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis consequuntur, iste voluptatem natus dolorem
		veritatis sapiente hic, rerum molestias dolore, delectus praesentium illum ea beatae? Expedita exercitationem
		deleniti voluptatibus obcaecati?
	</p>
  </div>
</div>
<div class="container secondary-bg">
  <div class="wrapper flow">
    <p>
		Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis consequuntur, iste voluptatem natus dolorem
		veritatis sapiente hic, rerum molestias dolore, delectus praesentium illum ea beatae? Expedita exercitationem
		deleniti voluptatibus obcaecati?
	  </p>
    <h3>Section 4</h3>
    <p>
		Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis consequuntur, iste voluptatem natus dolorem
		veritatis sapiente hic, rerum molestias dolore, delectus praesentium illum ea beatae? Expedita exercitationem
		deleniti voluptatibus obcaecati?
	  </p>
  </div>
</div>