---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---
<div id="banner-container">
  <div id="vanilla-slideshow">
    <div class="vanilla-slide">

      {% pictures 
        {"desk":"https://res.cloudinary.com/nrityagram/image/upload/v1647179355/Space-cat2-desk_rix0hl.jpg", 
        "tab":"https://res.cloudinary.com/nrityagram/image/upload/v1620417697/ipad/08-dhruva-ipad_ppl3ra.jpg", 
        "mob":"https://res.cloudinary.com/nrityagram/image/upload/v1582614660/mobile/9_s1ma2d.jpg"}, 
        "Pictures Shortcode Test", 
        {"mob": ["425"], "tab": ["768"], "desk":["1600"]}, {"desk":"65em", "tab":"50em", "mob":"35em"}, 
        "eager", "high" %}

      <div class="banner-image-credit"
      data-image-credit-desk="Surupa Sen" 
      data-image-credit-tab="Sonia Manchanda" 
      data-image-credit-mob="Karthik Venakataraman"
      ></div>
      <div class="banner-tagline">
        “These are among the world’s greatest dancers!”
        <span class="banner-tagline-credit">
            The New York Times
        </span>
      </div>

      {# close vanilla slide #}
    </div>

    <div class="vanilla-slide">

      {% pictures 
        {"desk":"https://res.cloudinary.com/nrityagram/image/upload/v1580621114/Dance-Awareness-desk_thsmc0.jpg", 
        "tab":"https://res.cloudinary.com/nrityagram/image/upload/v1589045683/ipad/Dance-Awareness_q2d3sw.jpg", 
        "mob":"https://res.cloudinary.com/nrityagram/image/upload/v1580621107/mobile/Dance-Awareness-mob_c2zr5e.jpg"}, 
        "Slide 2", 
        {"mob": ["425"], "tab": ["768"], "desk":["1600"]}, {"desk":"65em", "tab":"50em", "mob":"35em"}, 
        "eager", "high" %}

      <div class="banner-image-credit"
      data-image-credit-desk="Karthik Venkatraman" 
      data-image-credit-tab="Karthik Venkatraman" 
      data-image-credit-mob="Karthik Venakataraman"
      ></div>
      <div class="banner-tagline">
        “These are among the world’s greatest dancers!”
        <span class="banner-tagline-credit">
            The New York Times
        </span>
      </div>

      {# close vanilla slide #}
    </div>

    <div class="vanilla-slide">

      {% pictures {
        "desk" : "https://res.cloudinary.com/nrityagram/image/upload/v1580623152/2_igyscd.jpg",
        "tab" : "https://res.cloudinary.com/nrityagram/image/upload/v1582806909/ipad/2_yjjoeu.jpg",
        "mob" : "https://res.cloudinary.com/nrityagram/image/upload/v1582614688/mobile/2_xit6ye.jpg"
      },
      "Slide 3", {
        "mob": ["425"],
        "tab": ["768"],
        "desk": ["1600"]
      }, {
        "desk": "65em",
        "tab": "50em",
        "mob": "35em"
      },
      "eager",
      "high" %}

      <div class="banner-image-credit"
      data-image-credit-desk="Nan Melville" 
      data-image-credit-tab="Nan Melville" 
      data-image-credit-mob="Nan Melville"
      ></div>
      <div class="banner-tagline">
        “A selfless concentration and a depth that reflected their intensive training in dance, music, Literature language and Philosophy.”
        <span class="banner-tagline-credit">
            The New York Times
        </span>
      </div>

      {# close vanilla slide #}
    </div>
    {# end of #vanilla-slideshow #}
  </div>

  <!-- slideshow arrows -->
  <div id="vanilla-slideshow-previous">
    <img src="{{ '/img/left-chevron.svg' | url }}" alt="slider arrow" />
  </div>
  <div id="vanilla-slideshow-next">
    <img src="{{ '/img/right-chevron.svg' | url }}" alt="slider arrow" />
  </div>

  {# close vanilla-slideshow-container #}
</div>
<div class="container primary-bg">
  <div class="wrapper flow">
    <h1>Section 1</h1>
    <p>
		Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis consequuntur, iste voluptatem natus dolorem
		veritatis sapiente hic, rerum molestias dolore, delectus praesentium illum ea beatae? Expedita exercitationem
		deleniti voluptatibus obcaecati?
	</p>
    <p>
		Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis consequuntur, iste voluptatem natus dolorem
		veritatis sapiente hic, rerum molestias dolore, delectus praesentium illum ea beatae? Expedita exercitationem
		deleniti voluptatibus obcaecati?
	</p>
    <div class="flow-nontext">
      {% image "https://res.cloudinary.com/nrityagram/image/upload/v1643804553/community_card_qpjn0w.jpg",
      "Children's Dance Class",
      ["425", "768", "1600"] %}
    </div>
    <div class="flow-nontext">
      {% image "https://res.cloudinary.com/nrityagram/image/upload/v1643974833/Rasa_Card_Diksha_getq7i.jpg",
      "NG Forest",
      ["425", "768", "1600"] %}
    </div>
  </div>
</div>
<div class="container accent-bg">
  <div class="wrapper flow">
    <h1 class="text-neutral-100">Section 2</h1>
    <p class="text-neutral-100">
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur officia a, unde sed soluta mollitia assumenda in
		vel earum explicabo sunt, odio cupiditate asperiores debitis iste voluptatum doloremque exercitationem magnam. Lorem
		ipsum dolor sit amet consectetur adipisicing elit. Fugiat voluptatem, ad voluptates sint est aliquam repellendus
		autem magnam distinctio quod. Nam, natus. Illo optio inventore eveniet, voluptatum quasi perferendis minus?
	</p>
  </div>
</div>
<div class="container">
  <div class="wrapper flow">
    <div class="flow-nontext">
      {% image "https://res.cloudinary.com/nrityagram/image/upload/v1620734207/school-card_m5avwv.jpg",
      "NG Utsarga",
      ["425", "768", "1600"] %}
    </div>
    <h1>Section 3</h1>
    <p>
		Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis consequuntur, iste voluptatem natus dolorem
		veritatis sapiente hic, rerum molestias dolore, delectus praesentium illum ea beatae? Expedita exercitationem
		deleniti voluptatibus obcaecati?
	</p>
  </div>
</div>
<div class="container secondary-bg">
  <div class="wrapper flow">
    <p>
		Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis consequuntur, iste voluptatem natus dolorem
		veritatis sapiente hic, rerum molestias dolore, delectus praesentium illum ea beatae? Expedita exercitationem
		deleniti voluptatibus obcaecati?
	  </p>
    <h1>Section 4</h1>
    <p>
		Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis consequuntur, iste voluptatem natus dolorem
		veritatis sapiente hic, rerum molestias dolore, delectus praesentium illum ea beatae? Expedita exercitationem
		deleniti voluptatibus obcaecati?
	  </p>
    <h2>Section 5</h2>
    <p>
		Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi optio facere sint quaerat earum, accusantium impedit quas dolor voluptates reprehenderit harum obcaecati mollitia incidunt. Numquam possimus dolor aspernatur natus aliquid!
	  </p>
    <h3>Section 5</h3>
    <p>
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis hic, aliquid obcaecati deleniti dolore dolorem quaerat ipsam error aperiam porro placeat distinctio perspiciatis eos aspernatur voluptates cumque expedita. Dicta, deserunt?
	  </p>
  </div>
</div>
<script src="{{ '/utils/vanilla-slideshow.js' | url }}"></script>
<script>
  vanillaSlideshow.init({
    // auto slideshow, options: true or false
    slideshow: true,
    // slideshow delay
    delay: 3500,
    // display arrows, options: true or false
    arrows: true,
    // display indicators, options: true or false
    indicators: false,
    // start slideshow randomly, options: true or false
    random: false,
    // animation speed
    animationSpeed: '1.75s'
  });
</script>