<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{{ title or metadata.title or "11ty Vodkarani Starter" }}</title>
		<meta name="description" content="{{ description or metadata.description }}" />
		<meta name="generator" content="{{ eleventy.generator }}" />

		<!-- openprops -->
		<!-- <link rel="stylesheet" href="https://unpkg.com/open-props" /> -->
		<!-- Not using open props normalize. Using Andy Bell's css reset -->
		<!-- <link rel="stylesheet" href="https://unpkg.com/open-props/fonts.min.css" /> -->
		<!-- <link rel="stylesheet" href="https://unpkg.com/open-props/sizes.min.css" /> -->

		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Lato&family=Playfair:ital,wght@0,400;1,300&display=swap"
			rel="stylesheet"
		 />

		<link rel="stylesheet" href="{{ '/css/style.css' | url }}" />
	</head>
	<body>
		<main>
			<header class="primary-header">
				<div class="wrapper headwrap">
					<div class="primary-header__inner">
						<span class="logo">LOGO</span>
						<ul class="nav-list">
							<li>
								<a href="#">Home</a>
							</li>
							<li>
								<a href="#">Blog</a>
							</li>
							<li>
								<a href="#">About</a>
							</li>
							<li>
								<a href="#">Contact</a>
							</li>
						</ul>
					</div>
				</div>
			</header>
			{{ content | safe }}
		</main>
		<script src="{{ '/utils/primary-header.js' | url }}"></script>
	</body>
</html>