<div class="nav-deck">
    <ul class="nav-list">
        <li>
            <a href="#">Home</a>
        </li>
        <li>
            <a href="#">Blog</a>
        </li>
        <li>
            <a href="#">About</a>
        </li>
        <li>
            <a href="#">Contact</a>
        </li>
    </ul>
    <ul class="nav-list">
        <li>
            <a href="#">Community</a>
        </li>
        <li>
            <a href="#">Projects</a>
        </li>
        <li>
            <a href="#">Media</a>
        </li>
    </ul>
</div>